{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow border-0 rounded-4">
                <div class="card-header bg-primary text-white text-center py-4 rounded-top-4">
                    <h3>Iniciar Sesión</h3>
                </div>
                <div class="card-body p-5">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                    <form action="/login" method="POST">
                        <div class="mb-4">
                            <label class="fw-bold">Correo Electrónico</label>
                            <input type="email" name="mail" class="form-control" required>
                        </div>
                        <div class="mb-4">
                            <label class="fw-bold">Contraseña</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 btn-lg">Entrar</button>
                    </form>
                </div>
                <div class="card-footer text-center bg-light">
                    <span>¿No tienes cuenta? </span>
                    <a href="/registro" class="text-primary fw-bold">Regístrate aquí</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}