{% extends "base.html" %}
{% block content %}
<hr>
<h3>Usuarios Registrados (Desde MariaDB)</h3>
<table class="table table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id_usuario }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.mail }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}